@import url(style-header.css);
@import url(style-main.css);

/* Design System */
:root {
    /* Colors */
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --gray: #D9D9D9;
    --light-gray: #F2F2F2;
    --black: #000000;
    --white: #FFFFFF;

    /* Text */
    --font: 'Raleway', sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-title: 1.5rem;
    --font-size-subtitle: 1.2rem;
    --font-size-text: 1.1rem;
    --font-size-subtext: 1rem;

    --font-height: normal;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

/* Centre et limite les dimension du conteneur */
.main-container {
    max-width: 1440px;
    min-width: 320px; 
    margin: 0 auto;   
    padding: 30px;    
}
/* ----- Mobile dimension ----- */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }
}