@import url(style-search.css);

.main {
    margin: 50px 0 50px 0;
}

.section-title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
}

.section-subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-bold);
}

.section-text {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
}

.headline {
    margin: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ----- Mobile dimension ----- */
@media (max-width: 768px) {
    .main {
        padding: 0 20px 0 20px;
    }
}