.footer-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: var(--light-gray);
}

.footer-link-holder {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    white-space: nowrap;
    margin-right: 280px;
}

.footer-link {
    text-decoration: none;
    color: var(--black);
}