@import url(style-activities.css);

.section-title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
}

.section-subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-bold);
}

.section-text {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
}

.section-text-bold {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-bold);

}

.section {
    margin: 40px 0 20px 0;
}

.headline {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-icon-holder {
    padding-inline: 7.5px;
    border: 2px solid var(--light-gray);
    border-radius: 50%;
}

.blue-icon {
    color: var(--blue);
}

.gray-icon {
    color: var(--light-gray);
}

/* ----- Tablet dimension ----- */
@media (max-width: 1024px) {
    .section-text {
        font-size: var(--font-size-subtext);
    }

    .section-text-bold {
        font-size: var(--font-size-subtext);
    }
}

/* ----- Mobile dimension ----- */
@media (max-width: 768px) {
    .main {
        padding: 0 20px 0 20px;
    }

    .headline {
        margin-top: 50px;
    }
}